doctype html
html
    head
        script(src="https://kit.fontawesome.com/7ca9567c6b.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block contents
        include ../partials/footer