extends layouts/main 
include mixins/videoBlock

block contents
    .search__header
        h3 search : #{searchByTerm}!
    .search__videos
         each video in videos
            + videoBlock({
                id : video.id,
                title : video.title,
                views : video.views,
                videoFile : video.videoFile
            })