extends layouts/main 
include mixins/videoBlock

block contents
    .user-profile   
        .user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h14.profile__username=user.name
        if loggedUser && user.id === loggedUser.id
            .user-profile__buttons
                a(href=`/users${routes.edit_profile}`)
                    button EDIT PROFILE
                a(href=`/users${routes.change_password}`)
                    button CHANGE PASSWORD 
        .user-videos
            each item in user.videos 
                +videoBlock({
                    id:item.id,
                    title:item.title,
                    views:item.views,
                    videoFile:item.fileUrl
                })