.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    input:not([type="file"]) {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    textarea {
      margin-bottom: 30px;
    }
    input[type="submit"] {
      background-color: #3498db;
      color: white;
    }
  }
  a {
    max-width: 320px;
    width: 100%;
  }

  button.delete {
    background-color: $dark-red;
  }
  .fileUpload {
    margin-bottom: 30px;
  }
  .fileUpload {
    display: flex;
    flex-direction: row;
    align-items: center;
    label {
      font-weight: 300;
      margin-right: 10px;
    }
  }
}
