.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__player,
  .video__info {
    width: 100%;
    margin-top: 50px;
    button {
      width: 120px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__view,
    .video_description {
      margin: 15px;
    }
    .video__title {
      font-size: 32px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
  }
}
